<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="blog"  description="This is the project website created with the help of html, css, and js">
        <title>The RedzBlog</title>
        <link href="./style.css" rel="stylesheet">
        <link href="" rel="icon" type="image/x-icon">
    </head>
    <body>
        <div class="hearder">
            <header>
                <h1 style="color:#6C48C5">Welcome to the </h1>
                <p style="color:#FEECB3">Where people share their Journey of the Day</p>
            </header>
        </div>